body, html {
    margin: 0;
    padding: 0;
}

.landing-page {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth; /* Smooth scrolling */
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.section:nth-child(even) {
    background-color: #e0e0e0;
}
