<footer>
  <img src="/src/img/logo_white.png" style="width: 80px; margin-top: 20px" />
  <div style="margin-top: 10px">
    <img src="/src/img/naver_logo.png" style="width: 24px; margin-right: 4px" />
    <img src="/src/img/kakao_logo.png" style="width: 24px; margin-left: 4px" />
  </div>
  <p style="font-size: 11px; font-weight: 300">
    상호: 마케팅더딥 | 대표자: 조창진 | 사업자 번호: 824-26-01671 | 고개센터:
    070-8064-4664<br />이메일: mthedeep@naver.com | 주소: 천안시 동남구 복자2길
    20
  </p>
  <p style="font-size: 11px; font-weight: 300">
    Copyright &copy; 2024 Marketing Thedeep Co., Ltd. All rights reserved.
  </p>
</footer>
