<header id="header-background">
  <div style="width: 10%"></div>
  <div
    style="
      width: 80%;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <a id="pc_logo" href="/index.html">
      <img
        src="/src/img/logo_white.png"
        alt="marketing thedeep logo"
        style="width: 120px"
      />
    </a>

    <!-- 모바일 사이즈일 때 메뉴 아이콘 -->
    <div id="mobile_menu" style="display: none">
      <!-- 메뉴 아이콘 디자인 -->
      메뉴
    </div>

    <!-- 메뉴 목록 -->
    <nav id="pc_menu" style="display: block">
      <ul>
        <li><a href="/src/pages/blog_page.html">블로그</a></li>
        <li><a href="/src/pages/place_page.html">플레이스</a></li>
        <li
          style="
            border-radius: 16px;
            border: 1px solid #03c95b;
            padding: 4px 10px;
            background-color: #03c95b;
          "
        >
          <a href="/src/pages/place_page.html">문의하기</a>
        </li>
      </ul>
    </nav>
  </div>
  <div style="width: 10%"></div>
</header>

<script>
  window.addEventListener("scroll", function () {
    var header = document.getElementById("header-background");

    if (window.scrollY > 91) {
      header.style.backgroundColor = "black";
    } else {
      header.style.backgroundColor = "transparent";
    }
  });
</script>

<script>
  window.addEventListener("resize", function () {
    var mobileMenu = document.getElementById("mobile_menu");
    var pcMenu = document.getElementById("pc_menu");
    var pcLogo = document.getElementById("pc_logo");

    if (window.innerWidth <= 584) {
      mobileMenu.style.display = "block";
      pcMenu.style.display = "none";
      pcLogo.style.display = "none";
    } else {
      mobileMenu.style.display = "none";
      pcMenu.style.display = "block";
      pcLogo.style.display = "block";
    }
  });
</script>
