body {
  font-family: "SCoreDream";
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  display: inline-flex;
  width: 100vw;
  z-index: 9999;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0px;
  text-align: center;
  position: relative;
  bottom: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* Initially hide the overlay */
}

#new_window {
  /* Initial styles for the new window */
  position: fixed;
  top: 50%;
  left: 100%; /* Initial position off-screen to the right */
  transform: translate(-50%, -50%);
  background-color: white;
  width: 100%; /* Adjust as needed */
  height: 100vh; /* Adjust as needed */
  opacity: 0; /* Initially hidden */
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s, left 0.5s; /* Transition for opacity, visibility, and left position */
}

#new_window.show {
  /* Styles for showing the new window */
  left: 50%; /* Move to the center */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0s, left 0.5s; /* Transition for opacity and visibility */
}

/* Main Menu */
#main_menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main_menu li {
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
}

#main_menu li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 0 20px;
}

/* Hover effect for main menu items */
#main_menu li:hover {
  background-color: #f0f0f0; /* Background color on hover */
}

/* Submenu */
.submenu {
  position: relative; /* Needed for absolute positioning of submenu */
  background-color: #f0f0f0;
}

.submenu a {
  font-size: 16px !important;
}

section {
  display: block;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}

section#main_section {
  height: 100vh;
  width: 100%;
  /* background-image: url("/src/img/main/main_background_1.png"); */
  text-align: center;
  display: flex;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

section#main_section2 {
  height: calc(100vh - 91px);
  background-image: url("/src/img/main/main_background_2.png");
  text-align: center;
  display: block;
}

/* Basic styling */
.container {
  display: flex;
  width: 65%;
  margin: 20px auto;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 2%;
  left: 18%;
  /* transform: translate(-50%, -50%); */
  /* background-color: rgba(0, 0, 0, 0.5);  */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.box {
  width: 48%; /* For PC, two boxes per row */
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  .box {
    width: 100%; /* For mobile, one box per row */
  }
  .container {
    display: flex;
    width: 80%;
    margin: 20px auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 601px) {
  .container {
    display: flex;
    width: 65%;
    margin: 20px auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.section img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* animation */
a span {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 28px;
  height: 28px;
  margin-left: -12px;
  border-left: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
/* font */
@font-face {
  font-family: "SCoreDream";
  font-weight: 100;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 200;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 300;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 400;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 500;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 600;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 700;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 800;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 900;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 900;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff)
      format("woff");
  font-display: swap;
}
